
.form-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  width: 80%;
  margin: 0 auto;
}

.form{
  display: flex;
  justify-content: start;
}

.form-container input {
  margin-bottom: 1rem;
}



.contact-h2{
  margin-bottom: 1rem;
}

.form-p{
  margin-bottom: 2rem;
}

.is-valid{
  border: 1px solid green;
}

.is-invalid{
  border: 1px solid red;
}